<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head><link rel="shortcut icon" href="favicon.ico" /></head>
{% include head.html %}
  <body>
    {% include sidebar.html %}
    {{ content }}
    <script>
      function setDarkModeFromLocalStorage() {
        const body = document.body;
        const sidebar = document.querySelector('.sidebar');
        const content = document.querySelector('.content');

        const darkModePreference = localStorage.getItem('darkModePreference');

        if (darkModePreference === 'true') {
          body.classList.add('dark-mode');
          sidebar.classList.add('dark-mode');
          content.classList.add('dark-mode');
        }
        else {
          body.classList.remove('dark-mode');
          sidebar.classList.remove('dark-mode');
          content.classList.remove('dark-mode');
        }
      }
      function toggleDarkMode() {
        const body = document.body;
        const sidebar = document.querySelector('.sidebar');
        const content = document.querySelector('.content');
        body.classList.toggle('dark-mode');
        sidebar.classList.toggle('dark-mode');
        content.classList.toggle('dark-mode');

        const isDarkMode = body.classList.contains('dark-mode');
        localStorage.setItem('darkModePreference', isDarkMode);
      }

      document.addEventListener('DOMContentLoaded', function () {
        const darkModeToggle = document.querySelector('#darkModeToggle');
        darkModeToggle.addEventListener('click', toggleDarkMode);

        setDarkModeFromLocalStorage();
      });

      const prefersDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches;
      if (prefersDarkMode) {
        toggleDarkMode();
      }
    </script>
  </body>
</html>
