<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head><link rel="shortcut icon" href="favicon.ico" /></head>
{% include head.html %}
<body>
  {% include sidebar.html %}
  {{ content }}
  <script>
    const darkModeToggle = document.querySelector('.dark-mode-toggle');
    const body = document.body;
    const sidebar = document.querySelector('.sidebar');
    const content = document.querySelector('.content');
  
    // Check if dark mode preference is already set
    const prefersDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches;
    if (prefersDarkMode) {
      body.classList.add('dark-mode');
      sidebar.classList.add('dark-mode');
      content.classList.add('dark-mode');
    }
  
    // Function to toggle dark mode
    function toggleDarkMode() {
      body.classList.toggle('dark-mode');
      sidebar.classList.toggle('dark-mode');
      content.classList.toggle('dark-mode');
    }
  
    // Event listener for the toggle switch
    darkModeToggle.addEventListener('click', toggleDarkMode);
  </script>
</body>
</html>
