---
layout: layout
---

<section class="content">
  <h1>
    <a href="{{ page.url }}">{{ page.title }}</a>
  </h1>

  <section class="byline">
    {{ page.date | date: "%B %e, %Y" }}
  </section>

  {{ content }}

  <section class="meta">
    <h3>Sup</h3>
    <section class="copy">
      <a>
        <img src="{{ site.github.owner_gravatar_url }}?s=142" height="49" width="49" />
      </a>
      <p>
        I'm a software engineer at LitePoint. This is something I do in my free time besides browsing reddit, making bots, and drinking tea.
      </p>
    </section>
  </section>
</section>
